.Background {

  /*-------自身排版-------*/
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  /*-------樣式-------*/
  background-color: brown;
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-size: cover;
  background-position: center;


  /* background-image: */
  /* 最上層: 放射狀漸層 */
  /* radial-gradient(ellipse at 30% 0%, rgba(255, 255, 0, 0.4), rgba(255, 255, 0, 0)), */
  /* 最底層: 線性漸層 */
  /* linear-gradient(0deg, #cecece 0%, #ffffff 70%); */


  /* 固定背景，但在ios系統支援度不好*/
  background-attachment: fixed;

}



/* ================= 頁尾標籤 ================= */
.logo_left {
  position: fixed;
  bottom: 0.5rem;
  left: 1rem;

  pointer-events: none;

  /*--------------*/
  color: rgba(255, 255, 255, 0.2);
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

.logo_right {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;

  pointer-events: none;
  /*--------------*/
  color: rgba(255, 255, 255, 0.2);
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}