.container {

  /* background-color: rgb(103, 182, 182); */
  position: absolute;

  width: fit-content;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;

}

.operate_bar_btm {
  padding: 1rem;
  border: inherit;
  height: fit-content;
  aspect-ratio: 1 /1;

  & span {
    background-color: transparent;
    color: #ffffff5e;
    font-size: 1.5rem;
    font-variation-settings:
      'FILL' 0,
      'wght' 500,
      'GRAD' 0,
      'opsz' 24;
    /*---------------*/
    /* 讓 icon 成為區塊元素，方便 transform */
    display: inline-block;
    /* 將 icon 放大 1.5 倍 */
    transform: scale(1.3);
    /* 為了讓圖標和文字對齊，你可能需要微調 */
    vertical-align: middle;
  }
}